body {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.background {
  background: url("asset/homeBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: : 100vh;
}

.align-top-centered {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
